.category-right-content-item {
    width: calc(25% - 20px);
    text-align: center;
    /* padding: 12px 0; */
    padding: 2px 2px 12px 2px;

    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.category-right-content-item:hover {
    transform: scale(1.05);
}

.category-right-content-item h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
}

.category-right-content-item img{
    width: 100%;
    border-radius: 10px;

}

.category-right-content-item p {
    font-size: 16px;
    color: #e74c3c;
}